<nav class="navbar">
    <div class="logo"><h1>logo</h1></div>
    <ul class="menu">
        <li><%= link_to 'Home', root_path, class: "active" %></li>
        <li><%= link_to 'Productos', products_path %></li>
    </ul>
</nav>